<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Register or Login
  </h1>
    <input [(ngModel)]="input.username" placeholder="Username">
    <br>
    <input [(ngModel)]="input.password" placeholder="Password">
    <br>
    <input [(ngModel)]="input.email" placeholder="Email">
    <br>
    <button (click)="onRegister()">Register User</button>
  
</div>    